/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: border-box;
}

      /* Header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 88px 49px 92px 50px;
  align-items: center;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: inherit;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  margin-top: 3px;
}

.header__logo-image {
  height: 105px;
  width: 137px;
}

.address {
  font-size: 18px;
  justify-self: end;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 3px;
  text-align: left;
}

.header__address {
  margin-right: 37px;
}

      /* Cover */

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
  min-height: 757px;
  color: white;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title,
.cover__description,
.card__title,
.card__text,
.bet-button {
  position: relative; 
}

.cover,
.card {
  position: relative;
  z-index: 1;
}

.cover__title {
  padding: 172px 20px 50px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__description {
  padding: 0 45px 50px 48px;
  display: flex;
  align-items: center;
  column-gap: 106px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 19px;
}

.bet-button {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  background: none;
  border: #FFFFFF 1px solid;
}

      /* Lots */

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots {
  margin: 178px 24px 154px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding-bottom: 30px;
}

.lots__heading {
  margin-bottom: 29px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  min-height: 596px;
  display: flex;
  color: white;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  font-size: 22px;
  line-height: 120%;
  margin-bottom: 15px;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card__title,
.card__text {
  z-index: 2;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  font-size: 20px;
  padding-left: 40px;
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

article {
  justify-content: space-between;
}

      /*About*/
      
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 49px;
  padding-right: 27px;
  margin-bottom: 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-left: 71px;
  border-radius: 50%;
  background: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__logo-ellipse {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 101px;
}

.about__paragraph {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  padding-top: 100px;
  gap: 24px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

      /* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 90px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 18px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-underline-position: under;
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  align-items: start;
  gap: 20px 48px;
  list-style: none;
}

.footer__links-list-item {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__link_active {
  text-decoration: none;
}
